<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/css/style.css' />
  <title>Iconic Guitars</title>
</head>
<body>
 
    <h2>Add A Guitar</h2>
<form action="/guitars" method="POST">
  <label>Brand:
    <select name="brand">
    <option value="Fender">Fender</option>
    <option value="Gibson">Gibson</option>
    <option value="Gretsch">Gretsch</option>
    </select>
   </label>
  <label>Model:
   <input type="text" name="model">
  </label>
  <label>Genre:
   <select name="genre">
   <option value="Blues">Blues</option>
   <option value="Country">Country</option>
   <option value="Rock">Rock</option>
   </select>
  </label>
  <label>Year: 
   <input type="text" name="year">
  </label>
  <label> Story:
   <input type="text" name="story">
  </label>
  <input type="submit" value="Add Guitar">
 
</form>

</body>
</html>