<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/css/style.css' />
  <title>Iconic Guitars</title>
</head>
<body>
    More html will go here
    <!---- we make sure the form is routed correctly, which will go to /guitars in our routes
    <h2>Add A Guitar</h2>
<form action="/guitars" method="POST">
  <label>Brand:
   <input type="text" name="brand">
  </label>
  <label>Model:
   <input type="text" name="model">
  </label>
  <label>Genre:
   <select name="genre">
   <option value="Blues">G</option>
   <option value="Country">PG</option>
   <option value="Rock">PG-13</option>
   </select>
  </label>
  <label>Year: 
   <input type="text" name="year">
  </label>
  <label> Story:
   <input type="text" name="story">
  </label>
  <input type="submit" value="Add Guitar">
  -->
</form>

</body>
</html>